<!DOCTYPE html>
<html>
  <head>
    <link href = "/css/styles.css" rel = "stylesheet" type = "text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <a href = "/quotes/new"><button><i class = "far fa-plus-square"></i></button></a>
    <br>
    <div class = "container">
      {{#each quotes as |quote|}}
        {{> cards quote}}
      {{/each}}
    </div>
  </body>
</html>
